/* .table-row-light {
    background-color: #ffeded;
}
.table-row-dark {
    background-color: #fcf4f4;
} */

/* .table-row-light {
    background-color: #f5ffff;
}
.table-row-dark {
    background-color: #fcf4f4;
} */
.table-row-light {
    background-color: #dfdfee;
}
.table-row-dark {
    background-color: #ebebf3;
}
.table-row-dark1 {
    background-color: #6c6ca5;
}